@font-face {
    font-family: 'junctionregular';
    src: url('font/junction-regular-webfont.eot');
    src: url('font/junction-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/junction-regular-webfont.woff') format('woff'),
         url('font/junction-regular-webfont.ttf') format('truetype'),
         url('font/junction-regular-webfont.svg#junctionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaythin';
    src: url('font/raleway_thin-webfont.eot');
    src: url('font/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway_thin-webfont.woff') format('woff'),
         url('font/raleway_thin-webfont.ttf') format('truetype'),
         url('font/raleway_thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sofia_pro_lightregular';
    src: url('font/SofiaProLight-webfont.eot');
    src: url('font/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/SofiaProLight-webfont.woff') format('woff'),
         url('font/SofiaProLight-webfont.ttf') format('truetype'),
         url('font/SofiaProLight-webfont.svg#sofia_pro_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'exolight';
    src: url('font/exo-kit/exo-light-webfont.eot');
    src: url('font/exo-kit/exo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/exo-kit/exo-light-webfont.woff') format('woff'),
         url('font/exo-kit/exo-light-webfont.ttf') format('truetype'),
         url('font/exo-kit/exo-light-webfont.svg#exolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nav>li>a{
  color: #00b2c2;
}

div.panel-body.randgifz {
  margin-left: 10px;
  margin-right: 10px;
}
div.panel-body.vimeo {
  margin-left: 0px;
  margin-right: 0px;
}
.list-group.techs {
	margin-left: 0%;
	margin-right: 0%;
}
@media (min-width: 768px) {
  .list-group.techs {
	
  margin-right: 25%;
  }
}
.list-group-item {
}
.list-group h4 {
  font-size: 30px;
  font-family: 'ralewaythin';
}
.jumbotron .hddr {
	font-size: 100px;
  color: #222;
	margin-top: -10px;
}
.jumbotron .hddr2 {
	font-size: 40px;
	color: #222;
	margin-top: -10px;
}
.container-fluid .turnup {
	font-family: 'sofia_pro_lightregular';
	font-size: 15px;
}
.navbar .heddur {
  color: #FFF;
	font-family: 'exolight';
}
.navbar .heddur:hover {
  color: #ccc;
}


div.navbar-collapse.collapse > ul > li > a {
  color: #FFF;
}
div.navbar-collapse.collapse > ul > li > a:hover {
  color: #ccc;
}
.navbar a:hover {
  font-color:inherit;
  text-shadow: none;
}
.navbar {
  background-color: #222;
  font-size: 20px;
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 9px 0px #444;
  -moz-box-shadow: 0px 9px 0px #444;
  box-shadow: 0px 9px 0px #444;
  border-color: transparent;
}
@media (min-width: 768px) {
  .jumbotron .hddr2{
    font-size: 60px;
  }
}

.jumbotron .fifty{
	font-family: 'ralewaythin';
	font-size: 30px;
}
.jumbotron .fifty2{
  font-family: 'ralewaythin';
  font-color: #222;
}
.jumbotron .bttn {
	font-family: 'ralewaythin';
	background-color: #222;
  border-color: #222;
	text-shadow: 0 .25px 0 #ccc,
               0 .5px 0 #c9c9c9,
               0 .75px 0 #bbb,
               0 1px 0 #b9b9b9,
               0 1.25px 0 #aaa,
               0 1.5px .25px rgba(0,0,0,.1),
               0 0 1.25px rgba(0,0,0,.1),
               0 .25px .75px rgba(0,0,0,.3),
               0 .75px 1.25px rgba(0,0,0,.2),
               0 1.25px 2.5px rgba(0,0,0,.25),
               0 2.5px 2.5px rgba(0,0,0,.2),
               0 5px 5px rgba(0,0,0,.15);
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 9px 0px #444;
  -moz-box-shadow: 0px 9px 0px #444;
  box-shadow: 0px 9px 0px #444;
}
.jumbotron .bttn:hover {
  background-color:#444;
  -webkit-box-shadow: 0px 2px 0px #444;
  -moz-box-shadow: 0px 2px 0px #444;
  box-shadow: 0px 2px 0px #444;
}
h1 {
	font-family: 'junctionregular';
	text-transform: uppercase;
	font-size: 75px;

}
div > div.panel-heading {
  font-family: 'ralewaythin';
  font-size: 32px;
}
div > div.panel-body {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: -15px;
}

div.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:rgba(245,245,245,0.6);
  -webkit-box-shadow: 25px 26px 46px -15px rgba(69,145,141,0.46);
  -moz-box-shadow: 25px 26px 46px -15px rgba(69,145,141,0.46);
  box-shadow: 25px 26px 46px -15px rgba(69,145,141,0.46);
}

/* Holds character details table */
div.jumbotron > table {
  width: 35%;
  font-family: 'ralewaythin';
  font-size: 30px;
}

div.row.placeholders > div > div > div.panel-heading > a {
  color: #222;
}
div.row.placeholders > div > div > div.panel-heading > a:hover {
  color: #444;
  text-decoration: none;
}
.nav-sidebar > li {
	text-align: center;
}


/* SETTING CONTAINER ELEMENTS TO RGBA THEME */
div.panel-heading.rgbaTheme {
  background-color:rgba(245,245,245,0.6);
}
div.panel-footer.rgbaTheme {
  background-color:rgba(245,245,245,0.6);
}

/* Setting the style of the random gif title from reddit API */
div.panel-footer.rgbaTheme > h4 a{
  color: #222;
  font-size: 20px;
  font-family: 'sofia_pro_lightregular';
}
div.panel-footer.rgbaTheme > h4 a:hover {
  color: #444;
  text-decoration: none;
}
/* Setting Style for Toggler element on right hand nav */
#toggler {
  color: #222;
  font-size: 24px;
  margin-left: -8px;
}

li.home a {
  color: #222;
  font-size: 24px;
  margin-left: -8px;
}


/* adds slight 1px borders for expanded character and tech lists */
#chars > ul > li {
  border-bottom: 1px solid #444;
}
#techs > ul > li {
  border-bottom: 1px solid #444; 
}

div.row.placeholders > ul > div > ul {
  text-align: center;
}

#techs > ul > li.active {
  background-color: #222;
}
#techs > ul > li.active:hover {
  background-color: #222;
}

#chars > ul > li.active {
  background-color: #222;
}
#chars > ul > li.active:hover {
  background-color: #222;
}

#dataz > ul > li.active {
  background-color: #222;
}
#dataz > ul > li.active:hover {
  background-color: #222;
}


/*Determines the style of the listing gif rows */
.list-group.chars {
  padding-left: 0px;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
}
@media (min-width: 768px) {
  .list-group.chars {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  }
  div.panel-body.desc {
  margin-left: 10px;
  font-family: 'sofia_pro_lightregular';
  font-size: 16px;
  }
}

.well.data-table {
  font-family: 'sofia_pro_lightregular';
  font-size: 24px;
  color: #222;
}
table.stats {
  margin-bottom: 0px;
}

td.chargifs {
  width: 65%;
}

td.charinfo {
  width: 25%;
  padding-right: 15px;
}

li.techLink a {
  font-size: 18px;
  color: #222;
}

textarea {
  resize: vertical;
}

div.panel-body.desc {
  margin-left: 3px;
  font-family: 'sofia_pro_lightregular';
  font-size: 16px;
}
li.list-group-item.dataChar {
  padding: 0px 0px;
  border-width: 0px;
}


div.panel-body.ad {
  margin-left: 1px;
  margin-bottom: 1px;
}

div.panel.adtainer {
  width: 290px;
}

.adblocked {
  width: 250px;
  height: 250px;
  /*background-image:url('../img/adblockSmashlounge.jpg');*/
  background-repeat: none;
}

.well {
  padding: 5px;
}

/* begin css for raw map
*/
.map{
  height: 100%;
  position: relative;
  overflow: auto;
  z-index: 1;
}
#map-canvas {
  height: 250px;
  margin-bottom: 25px
}
@media (min-width: 768px) {
  #map-canvas {
      height:500px;
      margin-bottom: 25px;
  }
}
div.jumbotron.locate {
  font-family: 'junctionregular';
  font-size: 60px;
  width: 100%;
  color: #222;
}
li.gray {
  background-color: #f5f5f5;
}
.alignSides {
  margin-left: 15px;
  margin-right: 15px;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #222;
  margin-left: -10px;
}
.nav-sidebar > .active > a:hover {
  background-color: #444;
}


li > h4.submit {
  font-size: 30px;
  font-family: 'ralewaythin';
}

/*
  DEFINE DEFAULT PAGE ELEMENTS
*/
.container-fluid {
  text-align: center;
}

/*
  Define tab styling for char pages
*/
#myTab > li > a.tabz {
  padding: 15px 55px;
  font-family: sofia_pro_lightregular;
  font-size: 20px;
}

.panel-body.frameData {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.row.framel {
  margin-top: 10px;
}

.btn-info {
  background-color: #222;
}
.btn-info:hover {
  background-color: #444;
}

.data-header {
  font-size: 32px;
  font-family: 'ralewaythin';
  text-align: left;
  margin-left: 20px; 
}
.movenotfound {
  font-size: 20px;
  font-family: 'ralewaythin';
  text-align: left;
  margin-left: 5%;
}

.jumbotron {
  margin-right: 25%;
}
.jumbotron.full {
  margin-right: 0px;
}

/* Navbar Styling
*/
.here{
  background-color: #444;
}
.theme {
  color: #222;
}
.theme:link {
  text-transform: lowercase;
  font-family: 'ralewaythin';
  font-size: 24px;
}
a:hover {
  text-decoration: none;
  color: #444;
}

.row.centered {
  padding-left: 15px;
  padding-right: 15px;
}

.panel.transparent {
  background-color: transparent;
}