.theaterGif {
    background-color: transparent;
}

.theaterGif .panel-heading {
    background-color: transparent;
    text-align: center;
}
.theaterGif .panel-heading a {
    font-size: 13px;
    color: #fff;
}
.theaterGif .panel-heading a:hover {
    font-size: 13px;
    color: #eee;
}
.theaterGif .panel-body {
   max-height: 40%;
}
.theaterGif .CtrlBox {
    background-color: #fff;
}