.mainPic .Marth{
	width: 46px;
    height: 44px;
    background: url('/img/Characters/Alt-marth.jpg') 0 0;
}

div.panel-body.youtube {
	margin-left: 5%;
	margin-right: 5%;
}
div.panel-heading.theme .icon {
	text-align: left;
	margin-left: 15%;
}

#profpic {
	border-radius: 50%;
	box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

#profpic:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.expander {
  bottom: 70px;
  width: auto !important;
  height: 85%;
  position: absolute;
  top: 3%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: scroll;
}
.nav-sidebar {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: 'ralewaythin';
}
.bttn {
  text-shadow:none;
}
.bttn.login {
  width: 40%;
}

hr.login {
  border-top: 2px solid #00bcd4;;
  margin-left: 5%;
  margin-right: 5%;
}
.loginbox {
  position: absolute;
  bottom: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0px;
  right: 0px;
  padding-bottom: 15%;
}
.panel-body.card {
  margin-left: 0px;
  width: 405px;
}