.theaterGif {
    background-color: transparent;
}

.theaterGif .panel-heading {
    background-color: transparent;
    text-align: center;
}
.theaterGif .panel-heading a {
    font-size: 13px;
    color: #fff;
}
.theaterGif .panel-heading a:hover {
    font-size: 13px;
    color: #eee;
}
.theaterGif .panel-body {
    overflow: visible;
    max-height: 40%;
}
.theaterGif .panel-footer {
    background-color: transparent;
    overflow: visible;
    max-height: 40%;
    margin-bottom: 5%;
}
.theaterGif .panel-footer a {
    color: #fff;
}
.theaterGif .panel-footer .upvotecount {
    color: #fff;
}
.theaterGif .CtrlBox {
    background-color: #fff;
}
.theaterGif .gfyVid {
    -webkit-box-shadow: 3px 26px 81px 10px rgba(255,255,255,0.50);
    -moz-box-shadow: 3px 26px 81px 10px rgba(255,255,255,0.50);
    box-shadow: 3px 26px 81px 10px rgba(255,255,255,0.50);
}


/*
    standard gfycat container
*/
.gfyTainer {
  border-radius: 5px;
  background-color: rgba(26, 188, 156, .5);
  padding: 15px;
}