/*
    jumbotron
*/
#home { 
    background: url(img/home.jpg) 50% 0 fixed; 
    background-color: #1abc9c;
    background-image: url(img/assets/arches.png);     
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
}
.jumbotron {
    background-color:transparent;
    margin-bottom: 0px;
    text-align: center;
    -webkit-box-shadow: inset 0px -25px 30px -10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px -25px 30px -10px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px -25px 30px -10px rgba(50, 50, 50, 0.75);
    border-left: 2px solid #6e6e6e;
}
.jumbotron .header {
    text-shadow: 0 0px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 2px 0 #bbb,
               0 3px 0 #b9b9b9,
               0 4px 0 #aaa,
               0 5px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    font-size: 48px;
    font-family: 'Quicksand';
    color: #fff;
}
.jumbotron hr {
    -webkit-filter: none;
    opacity: 1;
    color: @theme;
}
.jumbotron .description {
    -webkit-filter: none;
    opacity: 1;
    font-family: 'Roboto';
    font-size: 20px;
    color: #fff;
}
.jumbotron .buttons {
}
.jumbotron .blur {
    //-webkit-filter: blur(5px);
    //-moz-filter: blur(5px);
    //-o-filter: blur(5px);
    //-ms-filter: blur(5px);
    //filter: blur(5px);
    //opacity: 0.4;
}
