.panel-body {
    overflow: hidden;
}
.panel-default {
    .panel-heading {
      font-family: 'roboto';
      background-color: rgba(150, 150, 150, 0.61);
      color: #ffffff;
      text-align: center;
      font-size: 24px;
    }
    
}